/*EPL THEME COLOR*/
$epl-blue: #005fcc;
$epl-red: #e90052;
$epl-white: #ffffff;
$epl-yellow: #EAFF04;
/*EPL THEME COLOR*/

$kart-white: #ffffff;
$kart-white-background: #f9f9fa;
$kart-white-border: #f2f2f2;
$kart-blue: #005fcc;
$kart-blue-darker: #014ea7;
$kart-blue-darkest: #034188;
$kart-grey: #dadce0;
$kart-grey-light: #ebeef4;
$kart-grey-dark: #3c4043;
$kart-red: red;
$kart-black: black;
$kart-green: #42b72a;
$kart-green-darker: #369b20;
$kart-green-darkest: #277217;
$kart-gold: #e19205;


body {
	background-color: $kart-white-background;
}

.content {
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 15%;
	margin-top: 48px;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
	margin: 0;
}

h1, h2 {
	padding: 0;
	margin: 0;
}

.horizontal_parent {
	display: flex;
	width: 100%;
	
	.horizontal_child {
		flex: 1;
	}
}

.user_info_container {
	h1 {
		margin: 0 0 16px 0;
	}

	.not_found_container {
		margin-top: 8%;
		text-align: center;
	}

	.profile_container {
		border-bottom: 2px solid $kart-grey;
		text-align: center;
		font-size: 24px;
	}

	.performing_container {
		margin: 12px -12px;

		.row_div {
			margin-bottom: 40px;
		}

		.performing_span {
			margin: 12px;
			text-align: center;
			background-color: $kart-white;
			border: 1px solid $kart-grey;
			border-radius: 4px;

			.performing_span_header {
				border-bottom: 1px solid $kart-grey;
				padding: 12px 0;
			}

			li {
				margin: 12px;
			}
			p {
				margin: 0;
				padding: 4px 0;
				font-size: smaller;
				font-weight: 200;
				color: $kart-grey-dark;
			}

			.user_records {
				div {
					&.span_div {
						border-bottom: 2px solid $kart-white-border;
						padding-bottom: 10px;
					}
				}

				span {
					display: inline-block;
					padding: 10px 0;
					text-align: center;

					&.map_rating {
						&.스타선수 {
							color: $kart-gold;
							font-weight: 800;
						}
						&.랭커 {
							color: $kart-red;
							font-weight: 600;
						}
						&.엘리트 {
							color: $kart-blue;
							font-weight: 600;
						}
						&.수준급 {
							color: $kart-green;
							font-weight: 600;
						}
						&.L1 {
							font-weight: 600;
						}
					}
				}

				li.header {
					div {
						padding-top: 5px;
						border-bottom: 1px solid $kart-blue;
					}
		
					span {
						color: $kart-blue;
						font-weight: bold;
					}
				}

				li:last-child {
					div {
						border-bottom: none;
					}
				}
			}

			.user_ratings {
				margin-top: 16px;

				div {
					&.span_div {
						border-bottom: 1px solid $kart-white-border;
						padding-bottom: 0;

						&.R {
							background-color: rgba(255, 255, 0, 0.05);
						}
						&.L3 {
							background-color: rgba(0, 255, 0, 0.05);
							span.난이도, span.이름 {
								color: $kart-green;
							}
						}
						&.L2 {
							background-color: rgba(0, 0, 255, 0.05);
							span.난이도, span.이름 {
								color: $kart-blue;
							}
						}
						&.L1 {
							background-color: rgba(255, 0, 0, 0.05);
							span.난이도, span.이름 {
								color: $kart-red;
							}
						}
					}
					&.header {
						border-bottom: 1px solid $kart-grey-dark;
					}
				}
				li {
					margin: 0;
				}
				span {
					padding: 16px 0;
					border-left: 1px solid $kart-grey;

					&.난이도 {
						flex: 0.5;
						border-left: none;
					}
					&.이름 {
						flex: 1.5;
						border-left: none;
						border-right: 1px solid $kart-grey-dark;
					}
					&.스타선수 {
						border-left: none;
						color: $kart-gold;
						font-weight: 800;
					}
					&.랭커 {
						color: $kart-red;
						font-weight: 600;
					}
					&.엘리트 {
						color: $kart-blue;
						font-weight: 600;
					}
					&.수준급 {
						color: $kart-green;
						font-weight: 600;
					}
					&.L1 {
						font-weight: 600;
					}
				}

				// span {
				// 	display: inline-block;
				// 	padding: 16px 0;
				// 	text-align: center;
				// 	border-left: 1px solid $kart-grey;

				// 	&.이름 {
				// 		border-left: none;
				// 	}

				// 	&.map_rating {
				// 		&.스타선수 {
				// 			color: $kart-gold;
				// 			font-weight: 800;
				// 		}
						// &.랭커 {
						// 	color: $kart-blue;
						// 	font-weight: 700;
						// }
						// &.엘리트 {
						// 	color: $kart-green;
						// 	font-weight: 600;
						// }
						// &.수준급, &.L1 {
						// 	font-weight: 600;
						// }
				// 	}
				// }

				// li:first-child {
				// 	div {
				// 		padding-top: 5px;
				// 		border-bottom: 1px solid $kart-blue;
				// 	}
		
				// 	span {
				// 		color: $kart-blue;
				// 		font-weight: bold;
				// 	}
				// }

				// li:last-child {
				// 	div {
				// 		border-bottom: none;
				// 	}
				// }
			}

			.help_message {
				border-top: 2px solid $kart-white-border;
				text-align: left;
				padding: 8px 0;
			}
		}
	}
}

.update_maps_container {
	h1, h2 {
		margin: 0 0 32px 0;
	}
	ul.records_info_ul {
		margin-top: 16px;
		margin-bottom: 48px;

		li.red {
			p {
				color: $kart-red;
			}
		}
	}
	p {
		padding: 0;
		margin: 0;
		color: $kart-grey-dark;
	}
	p.submit_error {
		color: red;
	}
	input {
		padding: 16px;
		margin: 8px 0;
		font-size: 16px;
		border: 1px solid $kart-grey;
		border-radius: 4px;
		background: transparent;
	}

	form {
		width: 100%;
		text-align: center;
	}

	.title_div {
		border-bottom: 2px solid $kart-grey;
	}

	.update_maps_levels {
		// width: 100%;
		display: inline-block;
		border: 1px solid $kart-grey;
		border-radius: 8px;
		background-color: $kart-white;
	}

	.level_container {
		// display: inline-block;
		// vertical-align: top;
		display: table-cell;
		padding: 24px;
		margin-bottom: 24px;
		border-left: 1px solid $kart-grey;
		// border-radius: 8px;
		&:first-child {
			border-left: none;
		}
	}

	.map_container {
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: center;
		margin-bottom: 32px;

		// .break_column {
		// 	flex-basis: 100%;
		// 	width: 0;
		// }
		
		input.map_exists {
			border-color: $kart-green;

			&::placeholder {
				color: $kart-green;
				opacity: 0.5;
			}
		}
		p.map_exists {
			color: $kart-green;
		}

		p.map_error {
			color: red;
		}
		input.map_error {
			border-color: red;
		}
	}

	.update_maps_submit {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.save_and_continue_div {
			border-top: 1px solid $kart-grey;
			padding-top: 16px;
		}

		input {
			margin: 16px;
			padding: 12px 32px;
			border: none;
			cursor:pointer;
			font-weight: 700;
			
			&:focus {
				outline: none;
			}

			&[type='submit'] {
				background-color: $kart-blue;
				color: $kart-white;

				&:hover {
					background-color: $kart-blue-darker;
				}
				&:active {
					background-color: $kart-blue-darkest;
				}
				&:disabled {
					background-color: $kart-grey;
					cursor: default;
				}
			}
			&.cancel_button {
				color: $kart-blue;

				&:hover {
					background-color: rgba(0, 95, 204, 0.1);
				}
				&:active {
					background-color: rgba(0, 95, 204, 0.3);
				}
			}
			&.save_and_continue_button {
				background-color: $kart-green;
				color: $kart-white;

				&:hover {
					background-color: $kart-green-darker;
				}
				&:active {
					background-color: $kart-green-darkest;
				}
				&:disabled {
					background-color: $kart-grey;
					cursor: default;
				}
			}
		}

		.break_column {
			flex-basis: 100%;
			width: 0;
		}

		p.red {
			color: $kart-red;
		}
	}
}

.user_ranking_container {
	h1 {
		margin: 0 0 40px 0;

		.highlight {
			color: $kart-blue;
		}
	}

	.user_ranking_content {
		span {	
			&.user_ranking_search {
				width: 25%;

				.user_ranking {
					div {
						border-right: 2px solid $kart-grey;

						&.active_tab {
							border-right: 2px solid $kart-blue;
							color: $kart-blue;
							
							span {
								font-weight: bold;
							}
						}
					}
			
					span {
						width: 100%;
						display: inline-block;
						padding: 15px 0;
						text-align: center;
						cursor: pointer;
					}
				}
			}
			
			&.user_ranking_records {
				width: 70%;
				margin-left: auto;
				order: 2;
				.user_ranking {
					div {
						width: 100%;
						
						&.span_div {
							border-bottom: 2px solid $kart-white-border;
							padding: 4px 0;
						}
					}
			
					span {
						display: inline-block;
						padding: 10px 0;
						text-align: center;
			
						&.rank {
							width: 10%;
						}
						&.ign {
							width: 70%;
							text-align: left;
						}
						&.elo {
							width: 20%;
							color: $kart-blue;
							font-weight: bold;
						}
					}
					
					a, a:hover, a:focus, a:active {
						text-decoration: none;
						color: inherit;
				   	}

					li:first-child {
						div {
							padding-top: 5px;
							border-bottom: 1px solid $kart-blue;
						}
			
						span {
							color: $kart-blue;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

.home_user_search_container {
	width: 100%;
	text-align: center;
	padding-top: 12%;
	&.home_container {
		padding-top: 8%;
	}
	.search_title {
		display: inline-block;
		margin-bottom: 4%;

		h1 {
			font-size: 400%;
			margin-bottom: 4%;
		}
		h2 {
			color: $kart-grey-dark;
		}
	}
	.search_form_container {
		display: inline-block;
		border: 1px solid $kart-grey;

		input {
			padding: 16px 24px;
			border: none;
			font-size: 20px;
			font-weight: 700;

			&:focus {
				outline: none;
			}

			&[type='text'] {
				width: 400px;
				border-right: 1px solid $kart-grey;
			}
			&[type='submit'] {
				cursor: pointer;
			}
		}
	}
	.other_options {
		input {
			padding: 16px;
			margin: 8px 0;
			width: 360px;
			font-size: 16px;
			border: 1px solid $kart-grey;
			border-radius: 4px;
			background: transparent;

			&[type='button'] {
				width: 396px;

				&:hover {
					cursor: pointer;
				}
			}

			&.blue {
				background-color: $kart-blue;
				color: $kart-white;
				border: none;
				font-weight: 700;
			}

			&.green {
				background-color: $kart-green;
				color: $kart-white;
				border: none;
				font-weight: 700;
			}
		}
	}
	.break_column {
		flex-basis: 100%;
		width: 0;
	}
}

.my_page_container {
	width: 100%;
	text-align: center;

	.setting_div {
		display: inline-block;
		margin-top: 4%;

		li {
			border-top: 1px solid $kart-grey;
			font-size: 20px;
			padding: 16px 0;

			&:first-child {
				border-top: none;
			}

			p {
				margin: 0;
			}
			p:hover {
				cursor: pointer;
			}

			p.red {
				color: $kart-red;
			}
		}

		a, a:hover, a:focus, a:active {
			text-decoration: none;
			color: inherit;
		}
	}
}

.sign_in_container {
	width: 100%;
	text-align: center;

	h1 {
		color: $kart-blue;
		margin-bottom: 16px;
	}

	.form_div {
		display: inline-block;
		background-color: $kart-white;
		border: 1px solid $kart-grey-light;
		border-radius: 4px;
		padding: 16px;

		h4 {
			color: $kart-grey-dark;
			font-size: 16px;
			padding: 0;
			margin: 0;
			margin-bottom: 12px;
			font-weight: 500;
		}

		input {
			padding: 16px;
			margin: 8px 0;
			width: 360px;
			font-size: 16px;
			border: 1px solid $kart-grey;
			border-radius: 4px;
			background: transparent;

			&[type='button'], &[type='submit'] {
				width: 396px;

				&:hover {
					cursor: pointer;
				}
			}

			&.blue {
				background-color: $kart-blue;
				color: $kart-white;
				border: none;
				font-weight: 700;
			}

			&.green {
				background-color: $kart-green;
				color: $kart-white;
				border: none;
				font-weight: 700;
			}
		}

		form {
			margin-bottom: 20px;
			border-bottom: 1px solid $kart-grey;
		}

		p.error_msg {
			color: red;
		}
	}

	.break_column {
		flex-basis: 100%;
		width: 0;
	}
}

.navigator {
	// margin-left: 8%;
	// margin-right: 8%;
	top: 0;
	position: sticky;
	z-index: 1000;
	background-color: $kart-white-background;
	display: flex;
	
	.search_form_container {
		display: inline-block;
		margin-right: 40px;
		input {
			background: transparent;
			border: none;
			padding: 12px;
			font-size: 14px;

			&:focus {
				outline: none;

			}
			&[type='text'] {
				border-bottom: 1px solid $kart-grey;
				width: 200px;
				padding-right: 56px;
				
				&:focus {
					border-bottom: 2px solid $kart-blue;
				}
			}
			&[type='submit'] {
				cursor: pointer;
				margin-left: -56px;
			}
		}
	}

	.log_in_div {
		display: inline-block;
	}

	span {
		display: inline-block;
		cursor: pointer;
		padding: 12px;
		margin: 0 4px;
		color: $kart-black;
		font-weight: 500;

		&:hover, &.active_link {
			border-bottom: 2px solid $kart-blue;
			color: $kart-blue;
		}
	}

	div.right {
		margin-left: auto;
		order: 2;
	}
}
