/*EPL THEME COLOR*/
$epl-blue: #005fcc;
$epl-red: #e90052;
$epl-white: #ffffff;
$epl-green: #00ff85;
$epl-yellow: #EAFF04;
/*EPL THEME COLOR*/

$kart-white: #ffffff;
$kart-white-background: #f9f9fa;
$kart-white-border: #f2f2f2;
$kart-blue: #005fcc;
$kart-blue-darker: #014ea7;
$kart-blue-darkest: #034188;
$kart-grey: #dadce0;
$kart-grey-dark: #3c4043;
$kart-red: red;
$kart-black: black;


body {
	background-color: $kart-white-background;
}

.content {
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 15%;
	margin-top: 48px;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
	margin: 0;
}

h1, h2 {
	padding: 0;
	margin: 0;
}

.horizontal_parent {
	display: flex;
	width: 100%;
	
	.horizontal_child {
		flex: 1;
	}
}

.user_info_container {
	h1 {
		margin: 0 0 32px 0;
	}

	.not_found_container {
		margin-top: 8%;
		text-align: center;
	}

	.profile_container {
		border-bottom: 2px solid $kart-grey;
	}
	
	.performing_container {
		margin: 12px -12px;

		.row_div {
			margin-bottom: 40px;
		}

		.performing_span {
			margin: 12px;
			text-align: center;

			.performing_span_header {
				border-bottom: 1px solid $kart-grey;
				padding: 12px 0;
			}

			li {
				margin: 8px;
			}
			p {
				margin: 0;
				padding: 4px 0;
				font-size: smaller;
				font-weight: 200;
				color: $kart-grey-dark;
			}

			.user_records {
				div {
					&.span_div {
						border-bottom: 2px solid $kart-white-border;
						padding: 4px 0;
					}
				}

				span {
					display: inline-block;
					padding: 10px 0;
					text-align: center;
				}

				li:first-child {
					div {
						padding-top: 5px;
						border-bottom: 1px solid $kart-blue;
					}
		
					span {
						color: $kart-blue;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.update_maps_container {
	h1, h2 {
		margin: 0 0 32px 0;
	}
	p {
		padding: 0;
		margin: 0;
		color: $kart-grey-dark;
	}
	p.submit_error {
		color: red;
	}
	input {
		padding: 16px;
		margin: 8px 0;
		font-size: 16px;
		border: 1px solid $kart-grey-dark;
		border-radius: 4px;
		background: transparent;
	}

	.level_container {
		padding: 24px;
		margin-bottom: 24px;
		border: 1px solid $kart-grey;
		border-radius: 8px;
		background-color: $kart-white;
	}

	.map_container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 32px;
		
		.break_column {
			flex-basis: 100%;
			width: 0;
		}

		p.map_error {
			color: red;
		}
		input.map_error {
			border-color: red;
		}
	}

	.update_maps_submit {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		input {
			margin: 16px;
			padding: 12px 16px;
			border: none;
			cursor:pointer;
			
			&:focus {
				outline: none;
			}

			&[type='submit'] {
				background-color: $kart-blue;
				color: $kart-white;

				&:hover {
					background-color: $kart-blue-darker;
				}
				&:active {
					background-color: $kart-blue-darkest;
				}
				&:disabled {
					background-color: $kart-grey;
					cursor: default;
				}
			}
			&[type='button'] {
				color: $kart-blue;

				&:hover {
					background-color: rgba(0, 95, 204, 0.1);
				}
				&:active {
					background-color: rgba(0, 95, 204, 0.3);
				}
			}
		}

		.break_column {
			flex-basis: 100%;
			width: 0;
		}
	}
}

.user_ranking_container {
	h1 {
		margin: 0 0 40px 0;

		.highlight {
			color: $kart-blue;
		}
	}

	.user_ranking_content {
		span {	
			&.user_ranking_search {
				width: 25%;

				.user_ranking {
					div {
						border-right: 2px solid $kart-grey;

						&.active_tab {
							border-right: 2px solid $kart-blue;
							color: $kart-blue;
							
							span {
								font-weight: bold;
							}
						}
					}
			
					span {
						width: 100%;
						display: inline-block;
						padding: 15px 0;
						text-align: center;
						cursor: pointer;
					}
				}
			}
			
			&.user_ranking_records {
				width: 70%;
				margin-left: auto;
				order: 2;
				.user_ranking {
					div {
						width: 100%;
						
						&.span_div {
							border-bottom: 2px solid $kart-white-border;
							padding: 4px 0;
						}
					}
			
					span {
						display: inline-block;
						padding: 10px 0;
						text-align: center;
			
						&.rank {
							width: 10%;
						}
						&.ign {
							width: 70%;
							text-align: left;
						}
						&.elo {
							width: 20%;
							color: $kart-blue;
							font-weight: bold;
						}
					}
					
					a, a:hover, a:focus, a:active {
						text-decoration: none;
						color: inherit;
				   	}

					li:first-child {
						div {
							padding-top: 5px;
							border-bottom: 1px solid $kart-blue;
						}
			
						span {
							color: $kart-blue;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

.user_search_container {
	width: 100%;
	text-align: center;
	padding-top: 12%;
	.search_title {
		display: inline-block;
		margin-bottom: 4%;

		h1 {
			font-size: 400%;
			margin-bottom: 4%;
		}
		h2 {
			color: $kart-grey-dark;
		}
	}
	.search_form_container {
		display: inline-block;
		border: 1px solid $kart-grey;

		input {
			padding: 16px 24px;
			border: none;
			font-size: 20px;
			font-weight: 700;

			&:focus {
				outline: none;
			}

			&[type='text'] {
				width: 400px;
				border-right: 1px solid $kart-grey;
			}
			&[type='submit'] {
				cursor: pointer;
			}
		}
	}
	.break_column {
		flex-basis: 100%;
		width: 0;
	}
}

.my_page_container {
	width: 100%;
	text-align: center;

	.setting_div {
		display: inline-block;
		margin-top: 4%;

		li {
			font-size: 20px;
			padding: 16px 0;
			border-top: 1px solid $kart-grey;

			&:first-child {
				border-top: none;
			}
		}

		a, a:hover, a:focus, a:active {
			text-decoration: none;
			color: inherit;
		}
	}
}

.navigator {
	margin-left: 8%;
	margin-right: 8%;
	top: 0;
	position: sticky;
	z-index: 1000;
	background-color: $kart-white-background;
	display: flex;
	
	.search_form_container {
		display: inline-block;
		margin-right: 40px;
		input {
			background: transparent;
			border: none;
			padding: 12px;
			font-size: 14px;

			&:focus {
				outline: none;

			}
			&[type='text'] {
				border-bottom: 1px solid $kart-grey;
				width: 200px;
				padding-right: 56px;
				
				&:focus {
					border-bottom: 2px solid $kart-blue;
				}
			}
			&[type='submit'] {
				cursor: pointer;
				margin-left: -56px;
			}
		}
	}

	span {
		display: inline-block;
		cursor: pointer;
		padding: 12px;
		margin: 0 4px;
		color: $kart-black;
		font-weight: 500;

		&:hover, &.active_link {
			border-bottom: 2px solid $kart-blue;
			color: $kart-blue;
		}
	}

	div.right {
		margin-left: auto;
		order: 2;
	}
}
