/*EPL THEME COLOR*/
$epl-blue: #005fcc;
$epl-red: #e90052;
$epl-white: #ffffff;
$epl-green: #00ff85;
$epl-yellow: #EAFF04;
/*EPL THEME COLOR*/

$kart-white: #ffffff;
$kart-white-background: #f9f9fa;
$kart-white-border: #f2f2f2;
$kart-blue: #005fcc;


body {
	background-color: $kart-white-background;
}

.content {
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 15%;
	margin-top: 48px;
	width: 84%;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
	margin: 0;
}

.user_ranking_container {
	h1 {
		padding: 0;
		margin: 0 0 40px 0;

		.highlight {
			color: $kart-blue;
		}
	}

	.user_ranking_content {
		width: 100%;
		background-color: $kart-white;
		display: flex;

		span {
			padding: 16px;
			padding-top: 0;
			padding-right: 0;
			
			&.user_ranking_search {
				width: 25%;
				background-color: $kart-blue;
				padding-right: 0;
				padding-left: 0;

				.user_ranking {
					div {
						border: 1px solid $kart-white;

						&.active_tab {
							background-color: $kart-white;
							span {
								color: $kart-blue;
							}
						}
					}
			
					span {
						width: 100%;
						display: inline-block;
						color: $kart-white;
						padding: 16px 0 16px 0;
						text-align: center;
						font-weight: 700;
						cursor: pointer;
					}
				}
			}
			
			&.user_ranking_records {
				width: 75%;
				margin-left: auto;
  				order: 2;

				.user_ranking {
					div {
						width: 100%;
						border: 1px solid $kart-white-border;
						margin-bottom: 5px;
					}
			
					span {
						display: inline-block;
						background-color: $kart-white;
						padding: 10px 0 10px 0;
						text-align: center;
						font-weight: 700;
			
						&.rank {
							width: 10%;
						}
						&.ign {
							width: 70%;
							text-align: left;
						}
						&.elo {
							width: 20%;
							color: $kart-blue;
						}
					}
			
					li:first-child {
						div {
							margin-bottom: 0;
							padding: 5px 0 5px 0;
							background-color: $kart-blue;
						}
			
						span {
							background-color: $kart-blue;
							color: $kart-white;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}



//////////////////////// Remove this later ////////////////////////////////////
.header {
	background-color: $epl-green;
	display: flex;

	.header_logo {
		width: 100px;
		height: 100px;
		padding: 16px 48px;
	}

	h1 {
		display: inline-block;
		color: $kart-blue;
		font-size: 48px;
		margin: auto;
		margin-left: 0;
	}
}

.navigator {
	width: 100%;
	top: 0;
	position: sticky;
	z-index: 1000;
	background-color: $kart-blue;
}

.navigator span {
	border-right: solid $epl-white 1px;
	display: inline-block;
	cursor: pointer;
	padding: 16px;
	text-decoration: none;
	font-weight: bold;
	color: $epl-white;

	&:active {
		background-color: $epl-white;
		color: $kart-blue;
	}

	&.active_link {
		background-color: $epl-white;
		color: $kart-blue;
	}
}

.predicted_match_container {
	margin-bottom: 12px;
}

.prob_title {
	display: inline-block;
	width: 100%;
	background-color: rgb(234, 234, 234);
	padding-top: 8px;
	padding-bottom: 8px;

	.prob_vs {
		padding-left: 16px;
		font-size: 18px;
	}
	.prob_date {
		float: right;
		padding-right: 16px;
	}
}

.prob_bar {
	width: 100%;

	span {
		display: inline-block;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;

		&.home_prob {
			background-color: $epl-blue;
		}
		&.away_prob {
			background-color: $epl-green;
		}
		&.draw_prob {
			background-color: $kart-blue;
			color: $epl-white;
		}
	}
}

.previous_match_container {
	width: 100%;
	background-color: $epl-white;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: solid rgb(234, 234, 234) 1px;

	&:hover {
		background-color: rgb(234, 234, 234);
	}
	.match_result {
		padding-left: 64px;
	}
	.match_result_date {
		float: right;
		padding-right: 16px;
	}
	.match_result_team_name {
		font-size: 18px;
		width: 160px;
		max-width: 160px;
		display: inline-block;
		&.team_home {
			text-align: right;
		}
		&.team_won {
			font-weight: bold;
		}
	}
	.match_score {
		background-color: $kart-blue;
		color: $epl-white;
		padding: 3px 16px;
		margin: 0 8px;
	}
}

.content_header {
	padding-bottom: 8px;
	border-bottom: solid rgb(234, 234, 234) 2px; 
}

.home {
	a {
		text-decoration: none;
	}
}
//////////////////////// Remove this later ////////////////////////////////////